name: Tests

on:
  push:
    branches:
      - 'dev'
      - 'master'

env:
  DOTNET_VERSION: '10.0'

jobs:
  run_tests:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Show dotnet version
        run: dotnet --version
        shell: powershell

      - name: Run tests
        run: |
          ./RunLibraryTests.ps1
          exit $LASTEXITCODE
        shell: powershell